<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{relativePath 'assets/images/favicon.png'}}" type="image/png" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="generator" content="haroldjs.com" />
  <link rel="stylesheet" href="{{relativePath 'styles/main.css'}}">
</head>

<body>
  
